server:
  port: 8086

spring:
  application:
    name: appointment
  datasource:
    url: jdbc:mysql://mysql:3306/db_agendamento
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${server.port}

# Resiliência e timeouts para integração de notificação
resilience4j:
  circuitbreaker:
    instances:
      notification:
        registerHealthIndicator: true
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        ignoreExceptions:
          - org.springframework.web.server.ResponseStatusException

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000

logging:
  level:
    br.ufrpe.dc.qualiti.appointment: DEBUG
    org.springframework.transaction.event: DEBUG
